<%= form_with(model: translator) do |form| %>
  <% if translator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(translator.errors.count, "error") %> prohibited this translator from being saved:</h2>

      <ul>
        <% translator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :profile_enabled, style: "display: block" %>
    <%= form.check_box :profile_enabled %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_field :bio %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
