<div id="<%= dom_id translator %>">
  <p>
    <strong>Profile enabled:</strong>
    <%= translator.profile_enabled %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= translator.slug %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= translator.bio %>
  </p>

  <p>
    <strong>User:</strong>
    <%= translator.user_id %>
  </p>

</div>
